@font-face {
    font-family: "Ubuntu-Regular";
    src: url("../fonts/Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Ubuntu-Bold";
    src: url("../fonts/Ubuntu-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Ubuntu-Light";
    src: url("../fonts/Ubuntu-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Ubuntu-Medium";
    src: url("../fonts/Ubuntu-Medium.ttf") format("truetype");
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu-Regular";
}

img {
    display: inline-block !important;
}

//Margins
.m-tb-8 {
    margin-bottom: 8px;
    margin-top: 4px;
}

.m-t-14 {
    margin-top: 14px;
}

//Text colors
.light-gray-text {
    color: #777777 !important;
}

.blue-text {
    color: #396EFF;
    font-family: "Ubuntu-Bold" !important;
}

//Global Styles
.main-wrapper .mobile-filter {
    display: none;
}

.main-layout {
    background-color: $bg-light-gray;
}

.main-conetnt {
    padding: 0px 0px 0px 90px;
}

.content-wrapper {
    padding: 20px 70px 20px 25px;
    width: 87%;
    height: calc(100vh - 60px);
    overflow-y: auto;
    .footer-wrapper {
        padding: 20px 0px 20px 0px;
        border-top: 0px;
    }
}

.orders-text {
    margin-bottom: 0px;
    @include section_heading;
}

.status {
    width: 4px;
    height: 11px;
    background-color: #53C716;
    display: inline-block;
    margin-right: 10px;
}

.paused {
    background-color: #EDAB15;
}

.complete {
    background-color: #B5B5B5;
}

.heading {
    @include page_heading;
    span {
        color: #396EFF;
    }
    i {
        margin: 0px 13px;
        font-size: 14px;
    }
}

.primary-btn {
    @include primary_button;
    i {
        margin-right: 13px;
    }
}

.divider {
    width: 100%;
    height: 1.5px;
    background-color: #E3E3E3;
}

.orders-filter {
    .order-search {
        width: 75%;
        .text-sm {
            @include search_filter;
        }
    }
    .all-orders {
        width: 23%;
        .group {
            height: 32px;
            font-size: 14px;
        }
    }
}

.orders-block {
    @include card;
    margin-top: 15px;
}

.table-pagination {
    padding-top: 15px;
    border-top: 1px solid #e6e6e6;
    .text-sm {
        font-size: 13px;
    }
}

.entry-filed {
    .text-sm {
        @include primary_input;
    }
}

.entry-dropdown {
    .items-center {
        @include primary_input;
    }
}

.custom-section {
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    background: #fff;
    .custom-section-header {
        padding: 14px;
        border-bottom: 1px solid #E0E0E0;
        h4 {
            @include section_heading;
        }
        a {
            color: #396EFF;
            font-size: 11px;
            font-family: "Ubuntu-Bold";
            text-decoration: none;
            cursor: pointer;
            letter-spacing: 1.32px;
        }
    }
    .custom-section-body {
        padding: 18px;
    }
}

.update-btn {
    margin-bottom: 15px;
    .primary-btn {
        width: 100%;
        justify-content: center;
        margin-top: 30px;
    }
}

.order-details {
    padding: 20px;
    border-left: 1px solid #dee2e6;
    height: 100%;
    .order-block {
        .order-label {
            color: #777777;
            font-size: 12px;
            font-weight: 500;
        }
        .order-data {
            font-size: 14px;
            color: $black-color;
            margin-top: 6px;
            span {
                color: #396EFF;
            }
            i {
                color: #53C716;
                margin-right: 8px;
            }
        }
    }
}

.add-info-block {
    .section-heading {
        padding: 14px 16px;
    }
    .font-medium {
        @include section_heading;
    }
    .p-4 {
        padding: 0px !important;
    }
}

.order-table {
    margin-top: 25px;
    .border-black {
        border-color: #848484;
        border-bottom-width: 2px;
    }
    .header-cell {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        font-size: 13px;
        font-weight: 500;
        font-family: "Ubuntu-Medium";
        color: #848484;
    }
    .header-cell:first-child {
        color: $black-color;
        font-family: "Ubuntu-Bold";
    }
    .item-cell {
        font-family: "Ubuntu-Medium";
        font-size: 13px;
        display: flex;
        align-items: center;
    }
}

.entry-block {
    .section-heading {
        padding: 14px 16px;
    }
    .font-medium {
        @include section_heading;
    }
    .p-4 {
        padding: 18px !important;
    }
}

.products-subheading {
    padding: 15px;
    border-bottom: 1px solid #E0E0E0;
    h3 {
        font-size: 15px;
        font-family: "Ubuntu-Bold";
        span {
            color: #396EFF;
        }
        i {
            margin: 0px 11px;
            color: #A7A7A7;
        }
    }
}

.cstm-checkbox {
    width: 16px !important;
    height: 16px !important;
    margin-right: 20px;
    i {
        margin-right: 0px !important;
        font-size: 10px !important;
    }
}

.folder-lable {
    font-family: "Ubuntu-Bold" !important;
    color: #396EFF !important;
    span {
        cursor: pointer;
        i {
            font-size: 16px;
            margin-right: 11px;
        }
    }
}

//modal popup styles
.modal-wrapper {
    overflow-y: scroll;
    padding: 50px 0px;
    .shadow-2xl {
        width: 80%;
        margin: auto;
    }
}

// Media Quires
@media screen and (max-width: 767px) {
    //Global Styles
    .mb-none {
        display: none !important;
    }
    .mb-block {
        display: block;
    }
    .mb-30 {
        margin-bottom: 30px;
    }
    .heading {
        font-size: 18px;
    }
    .m-t-20-mobile {
        margin-top: 20px;
    }
    .logo {
        width: 25px !important;
    }
    .main-layout {
        height: auto;
        .main-conetnt {
            padding: 20px 15px 20px 15px;
            display: block;
            .content-wrapper {
                height: auto;
                padding: 0px;
                width: 100%;
            }
        }
    }
    .mobile-filter {
        display: block !important;
        width: 100%;
        .border {
            border: none !important;
            width: 100%;
        }
        .items-center {
            background-color: #EBEBEB;
            border-radius: 0px;
            height: 42px;
            font-size: 13px;
            .text-sm {
                font-size: 13px;
            }
            #input2::placeholder {
                color: #A5A5A5;
            }
        }
    }
    .orders-filter {
        display: block;
        .order-search,
        .all-orders {
            width: 100%;
            margin-bottom: 14px;
        }
    }
    .order-table,
    .inventory-table {
        width: 100%;
        overflow-y: scroll;
        .grid-cols-1 {
            grid-template-columns: repeat(1, minmax(140px, 1fr));
        }
        .grid-cols-2 {
            grid-template-columns: repeat(2, minmax(140px, 1fr));
        }
        .grid-cols-3 {
            grid-template-columns: repeat(3, minmax(140px, 1fr));
        }
        .grid-cols-4 {
            grid-template-columns: repeat(4, minmax(140px, 1fr));
        }
        .grid-cols-5 {
            grid-template-columns: repeat(5, minmax(140px, 1fr));
        }
        .grid-cols-6 {
            grid-template-columns: repeat(6, minmax(140px, 1fr));
        }
        .grid-cols-7 {
            grid-template-columns: repeat(7, minmax(140px, 1fr));
        }
        .grid-cols-8 {
            grid-template-columns: repeat(8, minmax(140px, 1fr));
        }
        .grid-cols-9 {
            grid-template-columns: repeat(9, minmax(140px, 1fr));
        }
        .grid-cols-10 {
            grid-template-columns: repeat(10, minmax(140px, 1fr));
        }
        .grid-cols-11 {
            grid-template-columns: repeat(11, minmax(140px, 1fr));
        }
        .grid-cols-12 {
            grid-template-columns: repeat(12, minmax(140px, 1fr));
        }
    }
}