.orders-table-wrapper {
    .item-cell {
        font-family: "Ubuntu-Medium";
        color: #396EFF;
        .progress {
            width: 80px;
            height: 8px;
            border-radius: 8px;
            border: 1px solid #C1C1C1;
            background-color: #C1C1C1;
        }
    }
}