//Color Variables
$black-color:#000000;
$gray-color:#808080;
$blue-color:#396eff;
$primary-gray-color:#777777;
$ligh-gray-color:#ADADAD;
$dark-gray-color:#7E7E7E;
//Background color variables
$bg-light-gray:#fafafa;
$bg-blue:#396eff;
$bg-white:#fff;
// Border Colors Variables
$primary-border-color:#E0E0E0;