/*background color variables*/

$bg-light-gray:#fafafa;
$bg-blue:#396eff;
$bg-white:#fff;

/* Color Variables */

$gray-color:#808080;
$dark-gray-color:#696969;
$ligh-gray-color:#ccc;
$blue-color:#396eff;