@import "@/components/core/scss/consts";

$input-font-size: 14px;

.text-field, .text-area {
    display: inline-block;
    margin-bottom: .25rem;
    margin-top: .25rem;
    position: relative;
    font-size: $input-font-size;
    border: 1px solid $lighter-grey;
    border-radius: .25rem;
    background: white;

    &.focus {
        border: 1px solid $dark-grey;
    }

    &.invalid {
        border-color: $offline-color;
    }

    & + .btn {
        // margin-top: 0;
        margin-left: -1px;
        padding-top: 8px;
        padding-bottom: 8px;
        line-height: 20px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    // Icons
    & .text-field--icon {
        color: rgba(0, 0, 0, 0.6)
    }
    &.focus .text-field--icon {
        color: $dark-grey;
    }
}

.text-field.inner-label-above .text-field-content {

    .text-field--inner {
        flex-wrap: wrap;

        label {
            position: initial;
            pointer-events: initial;
            flex-grow: 1;
            font-size: 12px;
            padding-top: 4px;
            padding-bottom: 4px;
        }
    }
}

.text-field.disabled, .text-area.disabled {
    opacity: 0.9;
    color: #a6a6a6;
}

// Positionement hack for VeeaIcons
.text-field--icon {

    i[class^="icon-"] {
        height: 14px;
        line-height: 1.8;
        display: inline-block;
    }
}

.text-field-content, .text-area-content {

    cursor: text;
    align-items: center;
    color: inherit;
    display: flex;
    min-height: inherit;
    position: relative;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    width: 100%;
    height: 100%;
    // padding: 0 12px;

    .text-field--inner, .text-area--inner {

        display: flex;
        flex: 1 1 auto;
        position: relative;
        align-items: center;

        label {
            left: 0px;
            right: auto;
            position: absolute;
            padding: 0 12px;
            max-width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            pointer-events: none;
            color: rgba(0, 0, 0, 0.6);
            transform-origin: top left;
            transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
        }

        input, textarea {
            flex: 1 1 auto;
            padding: 8px 12px;
            max-width: 100%;
            min-width: 0px;
            width: 100%;
        }
    }

    .text-field--prepend-icon + .text-field--inner {
        & input, & label {
            padding-left: 0;
        }
    }

    .text-field--prepend-icon {
        margin-right: auto;
        padding-right: 8px;
        padding-left: 12px;
    }

    .text-field--append-icon {
        margin-left: auto;
        // padding-left: 7px;
        padding-right: 12px;
    }
}

.text-area-content {
    align-items: normal;
    max-height: 100%;
    height: 100%;

    .text-area--inner {
        align-items: normal;
    }

    label {
        top: 8px;
    }

    textarea {
        resize: none;
    }
}

.form-group {
    &--label {
        font-weight: $fw-bold;
        padding-left: 1px;
    }

    &--description {
        font-size: 13px;
        color: rgb(130,130,135);
        padding-left: 1px;
    }
}

// Reset
input, .text-area textarea {
    outline: none;
    background-color: transparent;
    border-style: none;
    font: inherit;
    color: inherit;
}