.stripeTextField {
    padding: 13px 10px;
}

.incrementedNumberInput input {
    text-align: center;
    appearance: textfield;
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
    }
}