:global(.text-field).globalSearch {
    display: block;
    background: rgba(0,0,0,0.22) no-repeat;
    height: 34px;
    width: 425px;
    border-radius: 6px;
    margin: 0;
    font-size: 14px;
    font-family: "Ubuntu", sans-serif;
    background-size: 16px 16px;
    background-position: 13px 50%;
    // box-shadow: inset 0px 1px 1px rgba(0,0,0,0.22), 0px 1px 0px rgba(255,255,255,0.16);
    outline: none;
    transition: background 0.28s ease-in-out;
    border: 1px solid transparent;

    :global(.text-field-content) :global(.text-field--inner) label {
        color: rgba(255,255,255,0.83);
    }

    @media only screen and (max-width: 1024px) {
        /* tablet */
        width: 240px;
    }

    @media only screen and (max-width: 768px) {
        /* phones */
        display: none;
    }

    color: white;
    & :global(.text-field--icon) {
        color: white;
    }

    & :global(.text-field-content) {
        top: -1px;
    }

    & :global(.text-field-content .text-field--prepend-icon) {
        padding-right: 11px;
        padding-left: 13px;
        font-size: 16px;
    }

    &:global(.focus) {
        // box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.32);
        box-shadow: none;
        background-color: white;
        border: 1px solid transparent;
        color: black;
        & :global(.text-field--icon) {
            color: black;
        }
    }

    :global(.autocomplete-results .result[data-focus="true"]) {
        background-color: #eeebf3;
    }

    :global(.autocomplete-results #no-results-found) {
        height: 42px;
        color: rgb(130,130,135);
        text-align: center;

        span {
            margin: auto;
        }
    }

    :global(.device-mesh-link) {

            text-decoration: none;
            color: rgb(80,80,85);
            line-height: 30px;

            i {
                font-size: 20px;
                margin-right: 5px;
                position: relative;
                top: 5px;

                &:global(.icon-70_Mesh:before) {
                    color: rgb(181, 148, 255);
                }

                &:global(.icon-78_VeeaHub:before) {
                    color: #5d5c5c;
                }
            }
        }

}