@import "./keyframes";

@for $i from 1 through 5 {
    .delay-#{$i}s {
        animation-delay: #{$i}s;
    }

}

@for $i from 1 through 10 {
    $v: $i * 100;

    .duration-#{$v}ms {
        animation-duration: #{$v}ms;
    }
}

.fadeout {
    animation-name: fadeout;
    animation-timing-function: linear;
}

.forwards {
    animation-fill-mode: forwards;
}

.backwards {
    animation-fill-mode: backwards;
}

