* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: $body-color;
    padding-bottom: 60px;
    line-height: 1.2em;
    overflow-y: auto;
    color: rgb(40,40,48);

    &.has-topbar {
        padding-top: 60px;
    }
}

@media only screen and (min-width: 1250px) {
    /* desktop */
    body {
        min-width: 1250px;
    }
}

// @media only screen and (max-width: 1250px) {
//     /* phones */
// }

// @media only screen and (max-width: 767px) and (orientation: portrait) {
//     /* portrait phones */
// }

body.displaying-overlay-gs,
body.displaying-overlay {
    overflow: hidden;
}

button {
    font-family: 'Ubuntu', sans-serif;
}

b {
    font-weight: $fw-bold;
}