.collapsible-panel {

    .collapsible-panel--header {
        cursor: pointer;
    }

    .collapsible-panel--header--handle {
        display: block;
        height: 30px;
        line-height: 30px;
        font-size: 15px;
        font-weight: 900;
        color: rgb(100,100,100);
        padding-left: 14px;
        transition: all 0.30s ease-in-out;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAJCAYAAAD6reaeAAAAOUlEQVQYV23M0QkAMAgD0XPATts5XKNzlEgrIubzHcSABWzK7KEoQ8UMHSNMyITe0YFTMUCnHxOEF2jEC3GQY48nAAAAAElFTkSuQmCC);
        background-repeat: no-repeat;
        background-size: 5px 8px;
        background-position: 0px 50%;
    }

    &.expanded .collapsible-panel--header--handle {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAANklEQVQoU2NkIAIwEqGGgWhFvoRMg5mET+FmZOuwKdwMsgXdTcgKwQqwKQKJgRTCFeBShOEPAOqvBFev9ShjAAAAAElFTkSuQmCC);
        background-size: 8px 8px;
        margin-bottom: 20px;
    }
}