.error-box {
    padding: 35px;
    text-align: center;
    font-size: 18px;
    color: $orange-color;
    background: $light-red-color;
    border-radius: 8px;
    line-height: 1.3em;

    code {
        display: inline-block;
    }
}

code {
    font-family: monospace;
    background-color: white;
    color: black;
    padding: 2px;
    border-radius: 3px;
    font-size: 14px;
    margin: 2px;
}