.progress-container {
    background: #e6e6e9;
    border-radius: 10px;
    overflow: hidden;
    height: 8px;
    margin-top: 10px;
    margin-bottom: 10px;

    .progress {
        float: left;
        background: #8c8c8f;
        height: 15px;
    }
}