.search-bar {
    display: flex;

    .search-input {
        flex-grow: 1;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        div div:last-child i {
            padding: 6px 5px 5px;
            &:hover {
                color: $text-color-on-default;
                cursor: pointer;
            }
        }
    }

    .search-button {
        display: inline-block;
        i {
            padding-right: 7px;
        }
    }
}