@import "@/components/core/scss/veea-colors";

.select-menu {
    width: 100%;
    outline: 0;
    border: none;
    background-color: transparent;
    font-size: 14px;
    padding: 8px;
    font-family: "Ubuntu", sans-serif;
}