@font-face {
    font-family: 'VeeaIcons';
    src: url('../../../../fonts/veea-icons/icons.eot?fc6561ea6a4cb628684dad90f157efc4?#iefix') format('embedded-opentype'),
        url('../../../../fonts/veea-icons/icons.woff2?fc6561ea6a4cb628684dad90f157efc4') format('woff2'),
        url('../../../../fonts/veea-icons/icons.woff?fc6561ea6a4cb628684dad90f157efc4') format('woff'),
        url('../../../../fonts/veea-icons/icons.ttf?fc6561ea6a4cb628684dad90f157efc4') format('truetype'),
        url('../../../../fonts/veea-icons/icons.svg?fc6561ea6a4cb628684dad90f157efc4#icons') format('svg');
    font-weight:normal;
    font-style:normal;
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: 'VeeaIcons' !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-100_Broken_File:before {
    content: "\f101";
}
.icon-101_Database:before {
    content: "\f102";
}
.icon-102_Bug:before {
    content: "\f103";
}
.icon-103_Run:before {
    content: "\f104";
}
.icon-104_Face_Meh:before {
    content: "\f105";
}
.icon-105_Face_Happy:before {
    content: "\f106";
}
.icon-106_Face_Sad:before {
    content: "\f107";
}
.icon-107_Light_Off:before {
    content: "\f108";
}
.icon-108_Light_On:before {
    content: "\f109";
}
.icon-109_Expand:before {
    content: "\f10a";
}
.icon-110_Collapse:before {
    content: "\f10b";
}
.icon-111_Crop:before {
    content: "\f10c";
}
.icon-112_Erase:before {
    content: "\f10d";
}
.icon-113_Write:before {
    content: "\f10e";
}
.icon-114_Write_Alt:before {
    content: "\f10f";
}
.icon-115_Pie_Chart:before {
    content: "\f110";
}
.icon-116_Bar_Chart:before {
    content: "\f111";
}
.icon-117_Line_Chart:before {
    content: "\f112";
}
.icon-118_Microphone:before {
    content: "\f113";
}
.icon-119_Speaker:before {
    content: "\f114";
}
.icon-11_My_Profile:before {
    content: "\f115";
}
.icon-120_Volume_Up:before {
    content: "\f116";
}
.icon-121_Volume_Down:before {
    content: "\f117";
}
.icon-122_Mute:before {
    content: "\f118";
}
.icon-123_Package:before {
    content: "\f119";
}
.icon-124_Pack:before {
    content: "\f11a";
}
.icon-125_Unpack:before {
    content: "\f11b";
}
.icon-126_Connect:before {
    content: "\f11c";
}
.icon-127_Disconnect:before {
    content: "\f11d";
}
.icon-128_Eye:before {
    content: "\f11e";
}
.icon-129_Eye_Closed:before {
    content: "\f11f";
}
.icon-12_Logout:before {
    content: "\f120";
}
.icon-130_Star:before {
    content: "\f121";
}
.icon-131_Compose:before {
    content: "\f122";
}
.icon-132_Seat:before {
    content: "\f123";
}
.icon-133_Flip_Camera:before {
    content: "\f124";
}
.icon-134_Mail_Opened:before {
    content: "\f125";
}
.icon-135_Cash:before {
    content: "\f126";
}
.icon-136_Descending:before {
    content: "\f127";
}
.icon-137_Ascending:before {
    content: "\f128";
}
.icon-138_Certificate:before {
    content: "\f129";
}
.icon-139_Battery:before {
    content: "\f12a";
}
.icon-13_Password:before {
    content: "\f12b";
}
.icon-140_Battery_75:before {
    content: "\f12c";
}
.icon-141_Battery_50:before {
    content: "\f12d";
}
.icon-142_Battery_25:before {
    content: "\f12e";
}
.icon-143_Battery_0:before {
    content: "\f12f";
}
.icon-144_Battery_Charging:before {
    content: "\f130";
}
.icon-145_Battery_Error:before {
    content: "\f131";
}
.icon-146_No:before {
    content: "\f132";
}
.icon-147_Up:before {
    content: "\f133";
}
.icon-148_Down:before {
    content: "\f134";
}
.icon-149_Right:before {
    content: "\f135";
}
.icon-14_Document:before {
    content: "\f136";
}
.icon-150_Left:before {
    content: "\f137";
}
.icon-151_Alt_Up:before {
    content: "\f138";
}
.icon-152_Alt_Down:before {
    content: "\f139";
}
.icon-153_Alt_Right:before {
    content: "\f13a";
}
.icon-154_Alt_Left:before {
    content: "\f13b";
}
.icon-155_Alpha_Input:before {
    content: "\f13c";
}
.icon-156_Num_Input:before {
    content: "\f13d";
}
.icon-157_Message_Question:before {
    content: "\f13e";
}
.icon-158_Message_Alert:before {
    content: "\f13f";
}
.icon-159_Message_Reply:before {
    content: "\f140";
}
.icon-15_Document_About:before {
    content: "\f141";
}
.icon-160_Add_To_List:before {
    content: "\f142";
}
.icon-161_Remove_From_List:before {
    content: "\f143";
}
.icon-162_Shuffle:before {
    content: "\f144";
}
.icon-163_Flip_Cards:before {
    content: "\f145";
}
.icon-164_Backspace:before {
    content: "\f146";
}
.icon-165_Wallet:before {
    content: "\f147";
}
.icon-166_Hierarchy:before {
    content: "\f148";
}
.icon-167_Alarm:before {
    content: "\f149";
}
.icon-168_Home:before {
    content: "\f14a";
}
.icon-169_Extension:before {
    content: "\f14b";
}
.icon-16_Map:before {
    content: "\f14c";
}
.icon-170_Explore:before {
    content: "\f14d";
}
.icon-171_Translate:before {
    content: "\f14e";
}
.icon-172_Laptop:before {
    content: "\f14f";
}
.icon-173_Camera:before {
    content: "\f150";
}
.icon-17_Pin:before {
    content: "\f151";
}
.icon-18_Reservations:before {
    content: "\f152";
}
.icon-19_More:before {
    content: "\f153";
}
.icon-1_Switch_Organization:before {
    content: "\f154";
}
.icon-20_Promotions:before {
    content: "\f155";
}
.icon-21_Tax:before {
    content: "\f156";
}
.icon-22_Receipt:before {
    content: "\f157";
}
.icon-23_Tip:before {
    content: "\f158";
}
.icon-24_Keypad:before {
    content: "\f159";
}
.icon-25_Devices:before {
    content: "\f15a";
}
.icon-26_Tabs:before {
    content: "\f15b";
}
.icon-27_Transaction_History:before {
    content: "\f15c";
}
.icon-28_Make_Sale:before {
    content: "\f15d";
}
.icon-2_Locations:before {
    content: "\f15e";
}
.icon-30_Waiting_Approval:before {
    content: "\f15f";
}
.icon-31_Note:before {
    content: "\f160";
}
.icon-32_Caution:before {
    content: "\f161";
}
.icon-33_Stop:before {
    content: "\f162";
}
.icon-34_Camera:before {
    content: "\f163";
}
.icon-35_Trash:before {
    content: "\f164";
}
.icon-36_Send:before {
    content: "\f165";
}
.icon-37_Card:before {
    content: "\f166";
}
.icon-38_Like:before {
    content: "\f167";
}
.icon-39_Information:before {
    content: "\f168";
}
.icon-3_Team_Management:before {
    content: "\f169";
}
.icon-40_Globe:before {
    content: "\f16a";
}
.icon-41_Locked:before {
    content: "\f16b";
}
.icon-42_Unlocked:before {
    content: "\f16c";
}
.icon-43_Output:before {
    content: "\f16d";
}
.icon-44_Input:before {
    content: "\f16e";
}
.icon-45_Print:before {
    content: "\f16f";
}
.icon-46_Calendar:before {
    content: "\f170";
}
.icon-47_Alarm:before {
    content: "\f171";
}
.icon-48_Search:before {
    content: "\f172";
}
.icon-49_Zoom_In:before {
    content: "\f173";
}
.icon-4_Inventory:before {
    content: "\f174";
}
.icon-50_Zoom_Out:before {
    content: "\f175";
}
.icon-51_Discount:before {
    content: "\f176";
}
.icon-52_Coupon:before {
    content: "\f177";
}
.icon-53_Megaphone:before {
    content: "\f178";
}
.icon-54_Notification:before {
    content: "\f179";
}
.icon-55_Flag:before {
    content: "\f17a";
}
.icon-56_Clean:before {
    content: "\f17b";
}
.icon-57_Link:before {
    content: "\f17c";
}
.icon-58_Unlink:before {
    content: "\f17d";
}
.icon-59_Update:before {
    content: "\f17e";
}
.icon-5_Shop:before {
    content: "\f17f";
}
.icon-60_OK:before {
    content: "\f180";
}
.icon-61_Not_OK:before {
    content: "\f181";
}
.icon-62_vCube:before {
    content: "\f182";
}
.icon-63_Mail:before {
    content: "\f183";
}
.icon-64_Shield:before {
    content: "\f184";
}
.icon-65_Directions:before {
    content: "\f185";
}
.icon-66_Book:before {
    content: "\f186";
}
.icon-67_Rocket:before {
    content: "\f187";
}
.icon-68_Chip:before {
    content: "\f188";
}
.icon-69_Router:before {
    content: "\f189";
}
.icon-6_Help:before {
    content: "\f18a";
}
.icon-70_Mesh:before {
    content: "\f18b";
}
.icon-71_Cellular:before {
    content: "\f18c";
}
.icon-72_Ethernet:before {
    content: "\f18d";
}
.icon-73_Ethernet_Alt:before {
    content: "\f18e";
}
.icon-74_Wi-Fi:before {
    content: "\f18f";
}
.icon-75_Developer_Mode:before {
    content: "\f190";
}
.icon-76_Analytics:before {
    content: "\f191";
}
.icon-77_Cloud:before {
    content: "\f192";
}
.icon-78_VeeaHub:before {
    content: "\f193";
}
.icon-79_Power:before {
    content: "\f194";
}
.icon-7_Settings_Android:before {
    content: "\f195";
}
.icon-80_Firewall:before {
    content: "\f196";
}
.icon-81_Power_Cable:before {
    content: "\f197";
}
.icon-82_Cloud_Upload:before {
    content: "\f198";
}
.icon-83_Cloud_Download:before {
    content: "\f199";
}
.icon-84_Folder:before {
    content: "\f19a";
}
.icon-84_Folder_Open:before {
    content: "\f19b";
}
.icon-85_Folder_Closed:before {
    content: "\f19c";
}
.icon-86_App:before {
    content: "\f19d";
}
.icon-87_System_App:before {
    content: "\f19e";
}
.icon-88_Screen:before {
    content: "\f19f";
}
.icon-89_Video:before {
    content: "\f1a0";
}
.icon-8_Messages:before {
    content: "\f1a1";
}
.icon-90_Picture:before {
    content: "\f1a2";
}
.icon-91_Music:before {
    content: "\f1a3";
}
.icon-92_Video_File:before {
    content: "\f1a4";
}
.icon-93_Picture_File:before {
    content: "\f1a5";
}
.icon-94_Music_File:before {
    content: "\f1a6";
}
.icon-95_Data_File:before {
    content: "\f1a7";
}
.icon-96_System_File:before {
    content: "\f1a8";
}
.icon-97_Code_File:before {
    content: "\f1a9";
}
.icon-98_Locked_File:before {
    content: "\f1aa";
}
.icon-99_Database_File:before {
    content: "\f1ab";
}
.icon-9_Sales:before {
    content: "\f1ac";
}
