@import "@/components/core/scss/consts";

.overviewBox {
    display: inline-block;
    width: 31.3333333%;
    margin: 1%;
    text-align: center;
    text-decoration: none;
    color: rgb(64,64,79);
    font-weight: $fw-light;
    background-color: rgb(245,245,249);
    /* border-radius: 6px; */
    height: 200px;
    position: relative;
    /* transition: all 0.33s ease-in-out; */

    @media only screen and (max-width: 767px) {
        /* portrait phones */
        width: 100%;
    }

    &.mini {
        height: 140px;
    }

    &:hover {
        /* transform: scale(1.03); */
        /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.31); */
        background-color: rgb(230,230,239);
        color: rgb(54,54,69);
    }

    .overviewBoxInner {
        position: absolute;
        top: 50%;
        left: 0px;
        padding: 30px 40px;
        width: 100%;
        transform: translateY(-50%);
    }

    img {
        width: 48px; height: 48px;
    }

    .overviewTitle {
        display: block;
        font-size: 15px;
        font-weight: $fw-bold;
        margin: 17px 0px 4px 0px;
    }

    &.mini .overviewTitle {
        margin-top: 0;
    }

    .overviewSubtitle {
        display: block;
        font-size: 13px;
        line-height: 1.3em;
    }
}