
.warnSign {
    position: relative;
    display: inline-block;
    border-top-left-radius: 17px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 22px solid orange;
    margin: 1px;

    .bar {
        position: absolute;
        width: 3px;
        height: 9px;
        top: 7px;
        left: -1px;
        background-color: peru;
    }

    .dot {
        position: absolute;
        width: 3px;
        height: 3px;
        top: 17px;
        left: -1px;
        background-color: peru;
    }
}