@import "@/components/core/scss/consts";
@import "@/components/core/scss/veea-colors";

$bkg-color: rgba(128, 128, 128, 0.082);

.bkg:nth-child(even) {
    background-color: $bkg-color;
}

.property {
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 40px;
    text-align: left;
    line-height: 20px;
    font-size: 14px;
    font-weight: $fw-bold;
    color: #5a5a5a;
    margin-bottom: 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    .value {
        height: 20px;
        font-weight: $fw-regular;
        text-align: right;
    }

    .toggle {
        top: -10px;
        right: -10px;
    }
}

.panel {


    :global(.collapsible-panel--header) {
        background-color: $bkg-color;
        padding-left: 20px;

        :global(.collapsible-panel--header--handle) {
            margin-bottom: 0 !important;
            height: 40px;
        }

        .property {
            padding-left: 0;
            background: transparent;
        }
    }
}

.signal {

    span {
        width: 4px;
        background-color: $secondary-color;
        display: inline-block;
        margin-left: 2px;
    }

    @for $child from 1 through 4 {
        span:nth-child(#{$child}) {
            height: #{$child * 4}px;
        }

        @for $strength from $child through 4 {

            &:global(.s-#{$strength}) span:nth-child(#{$child}) {
                background-color: $healthy-color;
            }
        }
    }

}

.bytes {

    position: relative;
    display: inline-block;
    width: 80px;

    & .info {
        position: absolute;
        font-size: 8px;

        transform: translate(1px, 5px);
    }
}

.usageUnavailable {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 10px 25px 20px;
    color: rgb(130,130,130);

    i {
        font-size: 25px;
        width: 25px;
        height: 25px;
        margin-bottom: 10px;
    }
}