@import "@/components/core/scss/consts";
@import "@/components/core/scss/veea-colors";

.deviceWhitelisting {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 0px;

    .unitSerialInput {
        margin-bottom: 2rem;
    }

    .inputs {
        display: flex;
        flex-direction: row;
        justify-content: space-start;

        .input {
            margin-right: 1rem;

            div.text-field {
                border-radius: 5px !important;
            }

            input {
                width: 20rem;
            }
        }

    }

    b.icon {
        width: 13px;
        position: absolute;
        left: 0;
        box-shadow: none !important;
        background: $grey;
        box-shadow: 0px 1px 4px 1px $grey;
    }
    
    p.label {
        font-weight: $fw-bold;
        color: rgb(40,40,40);
        font-size: 14px;
        line-height: 20px;
        display: inline-block;
        margin-bottom: 4px;
    }
}

.searchGrayBar {
    top: 0.8rem;
    height: 4.3rem;
}

.removeGrayBar {
    top: 8.1rem;
    height: 4.3rem;
}

.addGrayBar {
    top: 15.5rem;
    height: 16.5rem;
}

.textarea { 
    outline: none;
    background-color: transparent;
    border: 1px solid #e2e2e2;
    font: inherit;
    color: inherit;
    height: 7.5rem;
    width: 20rem;
    margin-right: 1rem;
}

.hiddenInput {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.orDiv {
    text-align: center;
}

.wlButton {
    line-height: 1rem !important;
    height: 2.3rem;
    width: 12rem;
}

.unitSerialError {
    color: $primary-color;
    height: 1rem;
}

.unitSerialSuccess {
    color: $success-color;
}

.note {
    align-self: center;
    margin-top: 3rem;
    margin-left: 1rem;
}

.whitelistModal {
    .text {
        font-size: 1.1rem;
        font-weight: bold;

        i {
            font-size: 1.5em;
            margin-right: 0.8rem;
        }
    }

    &.success {
        color: $success-color;
    }

    &.error {
        color: $primary-color;
    }

    .separator {
        background: none;
        margin-top: 10px;
        height: 30px;
    }
}
