@import "@/components/core/scss/consts";
@import "@/components/core/scss/veea-colors";

.newVersionButton {
    color: $success-color !important;
    line-height: 42px;

    &:hover {
        color: #2c9e3b !important;
    }
}