@import "@/components/core/scss/veea-colors";
@import "@/components/core/scss/consts";

.statusBar {
    position: fixed;
    bottom: 0;
    background-color: $error-color;
    width: 100%;
    font-size: 14px;
    color: $text-color-on-error;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    & a {
        color: $primary-color;
        font-weight: $fw-bold;

        &:hover {
            color: $hover-primary-color;
        }
    }
}