@import "@/components/core/scss/veea-colors";

.packageConfigForm {

    .defaultFormDescription {
        margin-bottom: 15px !important;
    }

    .appUpgraderBack {
        margin-right: 20px;
        color: white !important;
        background: #255fbc !important;
    }

    textarea {
        width: 500px;
        height: 300px;
    }
}