:global(.btn).continueBtn {
    margin-top: 20px;
}

div.upgradeFlowContainer {
    overflow: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

div.upgradeFlowContainer .package {
    width: 45%;
    background: rgb(240,240,240);
    border: 1px solid rgb(210,210,210);
    border-radius: 5px;
    padding: 30px;
}

div.upgradeFlowContainer .package {
    background: rgb(249, 255, 242);
    border: 1px solid rgb(78, 119, 31);
    color: rgb(78, 119, 31);
}

div.upgradeFlowContainer .package b {
    display: block;
    font-size: 13px;
}

div.upgradeFlowContainer .package i {
    display: block;
    font-size: 20px;
    margin-top: 5px;
}

.packageUpgraderContainer .column {
    float: left;
    text-align: left;
}

.packageUpgraderContainer .row {
    float: left;
    width: 100%;
    margin-top: 20px;
}


/* .packageUpgraderContainer input[type="text"] {
    float: left;
    width: 100%;
    -webkit-appearance: none;
    border: 1px solid rgb(200,200,200);
    padding: 10px 10px;
    border-radius: 6px;
    font-size: 14px;
}

.packageUpgraderContainer label {
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 5px;
}

.packageUpgraderContainer select {
    width: 100%;
    -webkit-appearance: none;
    padding: 12px;
} */

.packageUpgraderBack {
    margin-right: 20px;
    color: white !important;
    background: #255fbc !important;
}

.packageUpgraderContainer .column {
    float: left;
    text-align: left;
}

.packageUpgraderContainer .r {
border-bottom: 1px solid rgb(220,220,220);
padding: 10px 0px;
text-align: left;
overflow: auto;
font-size: 15px;
}

.packageUpgraderContainer .b {
/* font-weight: 900; */
float: left;
width: 50%;
color: rgb(100,100,100);
}

.packageUpgraderContainer .i {
float: left;
/* clear: both; */
width: 50%;
text-align: right;
font-weight: 900;
}

.packageUpgraderDisclosure {
    font-size: 13px;
    color: rgb(101, 121, 132);
    line-height: 1.4em;
    margin-top: 23px;
    padding: 0px 50px;

    a {
        color: rgb(101, 121, 132);
        font-weight: 800;
    }
}
