@import "@/components/core/scss/consts";
@import "@/components/core/scss/veea-colors";

.softwareUpdate {

    display: flex;
    align-items: flex-start;

    & > :global(.icon) {
        width: 42px;
        height: 42px;
        margin: 2px 0;
        font-size: 42px;
        display: inline-block;
        margin-right: 18px;
    }

    .softwareUpdateDescription {
        flex-grow: 1;
        height: auto;
        font-size: 14px;
        color: rgb(100,100,100);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 25px;

        & summary {
            outline: none;
        }

        & ul {
            margin-left: 40px;
            list-style: disc;
        }
    }

    .updateBtn {
        width: 200px;
    }
}

.whitelistedWarning {
    color: $primary-color;

    span {
        margin-right: 0.8rem;
    }
}