$stripe-invalid-color: #eb1c26;
$stripe-invalid-color-lighten: scale-color($stripe-invalid-color, $lightness: +50%);

:global(.text-field):global(.StripeElement) {
    padding: 12px 12px;
    width: 100%;
    margin-top: 20px;
    display: block;

    &:global(.StripeElement--focus) {
        border: 1px solid #000000;
    }

    &:global(.StripeElement--invalid) {
        border-color: $stripe-invalid-color-lighten;
        &:global(.StripeElement--focus) {
            border-color: $stripe-invalid-color;
        }
    }
}

.country {
    outline: 0;
    // flex-grow: 1;
    // border: 1px solid rgb(200,200,200);
    border-radius: 0;
    // background: white url("/images/icon-chevron-down.svg") no-repeat;
    // background-size: auto 15px;
    // background-position: right 50%;
    // -webkit-appearance: none;
    // -moz-appearance: none;
    appearance: none;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    padding: 9px 12px;
    padding-right: 43px;

    // font-weight: 100;

    &:disabled {
        opacity: 0.4;
    }

    &[size] {
        background: white;
        padding: 0px;
        font-size: 17px;
    }

    &[size] option {
        padding: 5px 10px;
        border-bottom: 1px solid rgb(230,230,230);
        appearance: none;
    }
}

.errorField {
    background: #ffcbcb;
    margin-top: 10px;
    border-radius: 6px;
    font-size: 14px;
    color: #861212;
    padding: 10px;
}

.upgradeDisclosure {
    font-size: 13px;
    color: rgb(101, 121, 132);
    line-height: 1.4em;
    margin-top: 23px;
    padding: 0px 50px;
}

.fieldEmph {
    font-style: italic;
    opacity: 0.5;
}

.groupedFields {
    display: flex;

    .halfSpace {
        flex-grow: 3 !important;
    }

    & > :global(.text-field) {
        flex-grow: 1;
    }

    & > :global(.text-field) + :global(.text-field) {
        margin-left: 15px;
    }
}

.field {
    width: 100%;
    margin-top: 20px;

    form &:first-child {
        margin-top: 35px;
    }
}

:global(.btn).continueBtn {
    margin-top: 20px;
}