.bkg-none { background: none; }
.appearance-none { appearance: none; }

@each $name, $color in $all-colors {
    .bkg-#{$name} { background-color: $color !important; }
    .bkg-hover-#{$name}:hover { background-color: $color !important; }

    // See https://tailwindcss.com/docs/hover-focus-and-other-states#group-hover
    .group:hover .bkg-group-hover-#{$name} { background-color: $color !important; }
}

@each $name, $color in $shadow-colors {
    .box-sdw-#{$name} { box-shadow: 0px 1px 4px 1px $color !important; }
    .box-sdw-hover-#{$name}:hover { box-shadow: 0px 1px 4px 1px $color !important; }
    .group:hover .box-sdw-group-hover-#{$name} { box-shadow: 0px 1px 4px 1px $color !important; }
}