// Inspired by https://tailwindcss.com/docs/flex (only diff is for breakpoints)
// Eventually we should consider including tailwindcss in the project
// Probably when doing the redesign

// https://tailwindcss.com/docs/flex-direction
.flex-row { flex-direction: row; }
.flex-row-reverse { flex-direction: row-reverse; }
.flex-col { flex-direction: column; }
.flex-col-reverse { flex-direction: column-reverse; }
// https://tailwindcss.com/docs/flex-wrap
.flex-wrap { flex-wrap: wrap; }
.flex-wrap-reverse { flex-wrap: wrap-reverse; }
.flex-nowrap { flex-wrap: nowrap; }
// https://tailwindcss.com/docs/flex
.flex-1 { flex: 1 1 0%; }
.flex-auto { flex: 1 1 auto; }
.flex-initial { flex: 0 1 auto; }
.flex-none { flex: none; }
// https://tailwindcss.com/docs/flex-grow
.flex-grow-0 { flex-grow: 0; }
.flex-grow { flex-grow: 1; }
// https://tailwindcss.com/docs/flex-shrink
.flex-shrink-0 { flex-shrink: 0; }
.flex-shrink { flex-shrink: 1; }
// https://tailwindcss.com/docs/justify-content
.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-evenly { justify-content: space-evenly; }
// https://tailwindcss.com/docs/align-content
.content-center { align-content: center; }
.content-start { align-content: flex-start; }
.content-end { align-content: flex-end; }
.content-between { align-content: space-between; }
.content-around { align-content: space-around; }
.content-evenly { align-content: space-evenly; }
// https://tailwindcss.com/docs/align-items
.items-start { align-items: flex-start; }
.items-end { align-items: flex-end; }
.items-center { align-items: center; }
.items-baseline { align-items: baseline; }
.items-stretch { align-items: stretch; }
// https://tailwindcss.com/docs/align-self
.self-auto { align-self: auto; }
.self-start { align-self: flex-start; }
.self-end { align-self: flex-end; }
.self-center { align-self: center; }
.self-stretch { align-self: stretch; }

// Taken from https://tailwindcss.com/docs/breakpoints
@media (min-width: 1024px) {
    .lg\:flex { display: flex; }
    .lg\:inline-flex { display: inline-flex; }
    .lg\:flex-row { flex-direction: row; }
    .lg\:flex-row-reverse { flex-direction: row-reverse; }
    .lg\:flex-col { flex-direction: column; }
    .lg\:flex-col-reverse { flex-direction: column-reverse; }
    .lg\:flex-wrap { flex-wrap: wrap; }
    .lg\:flex-wrap-reverse { flex-wrap: wrap-reverse; }
    .lg\:flex-nowrap { flex-wrap: nowrap; }
    .lg\:flex-1 { flex: 1 1 0%; }
    .lg\:flex-auto { flex: 1 1 auto; }
    .lg\:flex-initial { flex: 0 1 auto; }
    .lg\:flex-none { flex: none; }
    .lg\:flex-grow-0 { flex-grow: 0; }
    .lg\:flex-grow { flex-grow: 1; }
    .lg\:flex-shrink-0 { flex-shrink: 0; }
    .lg\:flex-shrink { flex-shrink: 1; }
    .lg\:justify-start { justify-content: flex-start; }
    .lg\:justify-end { justify-content: flex-end; }
    .lg\:justify-center { justify-content: center; }
    .lg\:justify-between { justify-content: space-between; }
    .lg\:justify-around { justify-content: space-around; }
    .lg\:justify-evenly { justify-content: space-evenly; }
    .lg\:content-center { align-content: center; }
    .lg\:content-start { align-content: flex-start; }
    .lg\:content-end { align-content: flex-end; }
    .lg\:content-between { align-content: space-between; }
    .lg\:content-around { align-content: space-around; }
    .lg\:content-evenly { align-content: space-evenly; }
    .lg\:items-start { align-items: flex-start; }
    .lg\:items-end { align-items: flex-end; }
    .lg\:items-center { align-items: center; }
    .lg\:items-baseline { align-items: baseline; }
    .lg\:items-stretch { align-items: stretch; }
    .lg\:self-auto { align-self: auto; }
    .lg\:self-start { align-self: flex-start; }
    .lg\:self-end { align-self: flex-end; }
    .lg\:self-center { align-self: center; }
    .lg\:self-stretch { align-self: stretch; }
}